@import "variables.scss";
@import "~bootstrap";

// Sticky Footer
html, body, .app { height: 100%; }
body, .app { display: flex; flex-direction: column;}
main { flex: 1 0 auto; }
footer { flex-shrink: 0; }

// Containers
.skinny {
  max-width: 60rem;
}

.super-skinny {
  max-width: 48rem;
}

.tiny {
  max-width: 32rem;
}

// Typography
body {
  font-family: 'Inter',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
